body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
    color: #333;
    background-color: #FAFAFA;
}

header {
    background-color: rgba(165, 19, 15, 0.75);
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

.menu {
    margin: 0 auto;
    max-width: 55%;
    font-size: 105%;
}

.menu .site_name {
    float: left;
    padding: 0.5em;
    text-decoration: none;
    color: #FAFAFA;
}

.menu .site_links input,
.menu .site_links .toggle {
    display: none;
}

.menu .site_links {
    text-align: right;
    padding: 0.5em;
}

.menu .site_links a {
    color: #FAFAFA;
    text-decoration: none;
    padding: 0.5em;
}

.menu .site_links a:focus,
.menu .site_links a:hover {
    background: #9c3f43;
}

@media only screen and (max-width: 900px) {
    .menu {
        max-width: 100%;
    }

    .menu .site_links .toggle {
        cursor: pointer;
        margin: 0;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48bGluZSB4MT0iMyIgeDI9IjIxIiB5MT0iMTIiIHkyPSIxMiIvPjxsaW5lIHgxPSIzIiB4Mj0iMjEiIHkxPSI2IiB5Mj0iNiIvPjxsaW5lIHgxPSIzIiB4Mj0iMjEiIHkxPSIxOCIgeTI9IjE4Ii8+PC9zdmc+);
        background-repeat: no-repeat;
        background-position: center center;
        color: transparent;
        display: inline;
    }

    .menu .site_links a {
        display: none;
    }

    .menu .site_links input {
        display: inline;
        position: absolute;
        opacity: 0;
        float: right;
        width: 2em;
    }

    .menu .site_links input:checked ~ a {
        display: block;
        text-align: center;
    }
}

footer {
    background-color: #e0e0e3;
    min-height:8em;
    margin: 2em 0 0 0;
    padding: 1em;
    box-sizing: border-box;
}

.content {
    padding: 1em;
    width: 55%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    .content {
        width: 100%;
    }
}

.content ul, ol {
    line-height: 2rem;
}

.content p {
    text-align: justify;
    line-height: 1.5rem;
}

a {
    color: rgba(165, 19, 15, 0.75);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 1em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.9em;
}

h2 a {
    color: inherit;
}

h2 a:focus,
h2 a:hover {
    text-decoration: none;
}

h2 a:focus:after,
h2 a:hover:after {
    content: " #";
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

pre {
    width: 100%;
}

.status_beam {
    border-radius: 0.2rem;
    margin-bottom: 0.10rem;
    margin-right: 0.25rem;
    width: 0.4rem;
    height: 0.4rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.community_icon {
    width: 1rem;
    vertical-align: text-top;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.communities {
    padding-left: 0.5rem;
}

.communities_community {
    list-style: none;
}

.urls {
    padding-left: 0.5rem;
}

.urls_url {
    list-style: none;
}

.public_key {
    margin-bottom: 1rem;
    line-height: 2rem;
}

.muted {
}

.disabled-onion-link:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert {
    padding: 0.5rem;
}

.warning {
}

.clearnet_warning {
    color: orange;
    font-weight: bold;
    cursor: help;
}

.post-card {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    height: 28em;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    margin: 2em 0;
}

.post-card .thumbnail {
    background: #000000;
    height: 24em;
    overflow: hidden;
}

.post-card .thumbnail img {
    display: block;
    width: 100%;
}

.post-card .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 1.2em;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.post-card .post-content .title {
    margin: 0;
    line-height: 1.5em;
    font-size: 1.3em;
}

.post-card .post-content .post-meta {
    margin: 1em 0 0;
    color: #999999;
}

.service-card {
    position: relative;
    display: block;
    text-align:center;
    background: #FFFFFF;
    min-height: 19em;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    margin: 2em 0;
}

.service-card .thumbnail {
    height:18em;
    overflow: hidden;
    padding-top:1em;

}

.service-card .thumbnail img {
    display: block;
    width: 100%;
}

.service-card.dead {
    filter:grayscale(90%);
}

.service-card .content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 1em;
    text-align:center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.service-card .content .title {
    margin: 0;
    line-height: 1.5em;
    font-size: 1.3em;
}

.service-card .content .tags {
    margin: 1em 0 0;
    font-size:0.9em;
}

.service-card .content .tags a {
    color:inherit;
}

.service-card .content .communities {
    margin: 1em 0 0;
}

.service-card .content .communities a {
    padding:0.2em;
}
